---
const { title, description, ...props } = Astro.props;
---
<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.vivianspencer.co.uk" />
<meta property="og:site_name" content="Vivian Spencer" />
<meta property="og:locale" content="en" />

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Vivian Spencer" />
<link rel="manifest" href="/site.webmanifest" />

<meta name="robots" content="index,follow" />