---
// import 'el-dialog';
import ParticleButton from './ParticleButton.astro';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center justify-between gap-x-4 p-6 lg:px-8">
        <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5 flex items-center gap-x-6 font-bold text-lg uppercase">Vivian Spencer</a>
        </div>
        <ul class="hidden lg:flex lg:gap-x-12 uppercase">
            <li><a href="#services" class="hover:text-blue-400">What I do</a></li>
            <li><a href="#about" class="hover:text-blue-400">About</a></li>
            <li><a href="#services" class="hover:text-blue-400">Process</a></li>
        </ul>

        <div class="flex flex-1 items-center justify-end gap-x-5">
            <ParticleButton 
                href="#contact"
                class="btn-navContact uppercase border-2 border-gray-300 leading-none hidden lg:inline-flex"
                particleDirection="center" 
                particleColor="rainbow" 
                particleSize={20}
                size="md"
            >
                <span>Get in Touch</span>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="h-4 w-4"
                >
                    <path d="m9 9 5 12 1.774-5.226L21 14 9 9z" />
                    <path d="m16.071 16.071 4.243 4.243" />
                    <path d="m7.188 2.239.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656-2.12 2.122" />
                </svg>
            </ParticleButton>

            <ThemeToggle class="hidden lg:block 2xl:fixed 2xl:top-6 2xl:right-6" />
        </div>

        <div class="flex lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="inline-flex items-center justify-center rounded-sm hover:bg-gray-200 dark:hover:bg-gray-700 duration-200 p-3.5 relative">
                <span class="sr-only">Open main menu</span>
                <span class="block absolute w-5 bg-gray-900 dark:bg-stone-50 rounded-md opacity-100 left-0 h-0.75 top-1 left-1"></span>
                <span class="block absolute w-5 bg-gray-900 dark:bg-stone-50 rounded-md opacity-100 left-0 h-0.75 top-3 left-1"></span>
                <span class="block absolute w-5 bg-gray-900 dark:bg-stone-50 rounded-md opacity-100 left-0 h-0.75 top-5 left-1"></span>
            </button>
        </div>
    </nav>

    <el-dialog>
        <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
            <div tabindex="0" class="fixed inset-0 focus:outline-none">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-stone-50 dark:bg-gray-900 p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 dark:sm:ring-gray-100/10">
                    <div class="flex items-center gap-x-6">
                        <a href="/" class="-m-1.5 p-1.5">
                            <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="" class="h-8 w-auto" />
                            <span class="sr-only">Vivian Spencer</span>
                        </a>

                        <ParticleButton 
                            href="#contact"
                            class="btn-navContact ml-auto uppercase border-2 border-gray-300 leading-none"
                            particleDirection="center" 
                            particleColor="rainbow" 
                            particleSize={10}
                            size="md"
                        >
                            <span>Get in Touch</span>
                        </ParticleButton>

                        <button type="button" command="close" commandfor="mobile-menu" class="inline-flex items-center justify-center rounded-sm hover:bg-gray-200 dark:hover:bg-gray-700 duration-200 p-3.5 relative">
                            <span class="sr-only">Close menu</span>
                            <span class="block absolute w-6 bg-gray-900 dark:bg-stone-50 rounded-md opacity-100 rotate-45 duration-200 h-0.75 origin-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></span>
                            <span class="block absolute w-6 bg-gray-900 dark:bg-stone-50 rounded-md opacity-100 -rotate-45 duration-200 h-0.75 origin-center top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></span>
                        </button>
                    </div>

                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <ul class="space-y-2 py-6">
                                <li><a href="#services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">What I do</a></li>
                                <li><a href="#about" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800">About</a></li>
                                <li><a href="#services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-800">Process</a></li>
                            </ul>
                            <div class="py-6">
                                <ThemeToggle />
                            </div>
                        </div>
                    </div>
                </el-dialog-panel>
            </div>
        </dialog>
    </el-dialog>
</header>

<script>
    const contactBtns = document.querySelectorAll('.btn-navContact');
    contactBtns.forEach((btn) => {
        btn.addEventListener('particleComplete', (e) => {
            // alert('Thank you for your interest! I will get back to you shortly.');
        });
    });
</script>